* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 18px;
    color: #1d3557;
    line-height: 1.6;
    letter-spacing: 1px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

header h1 a {
    margin: 0;
    text-decoration: none;
    color: #1d3557;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navbar ul li {
    margin-right: 1em;
    margin-top: 0.5em;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #5db4b7;
}

/* Hero Section */

.hero {
    background-image: url("../images/hero-bg.png");
    height: 75vh;
    background-size: cover;
}

.hero-info {
    position: absolute;
    left: 6em;
    top: 37vh;
}

.hero-title, .hero-btn {
    padding: 0.5em 1em;
    background-color: #5db4b7;
    margin-bottom: 1em;
}

.hero-btn {
    margin: 0 auto;
    text-decoration: none;
    border-radius: 10px;
    color: #1d3557;
    text-align: center;
    margin-left: auto;
}

.hero-btn:hover {
    background-color: #e0eb0e;
}
