@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 18px;
    color: #1d3557;
    line-height: 1.6;
    letter-spacing: 1px;
    font-family: 'Roboto Flex', sans-serif;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

header h1 a {
    margin: 0;
    text-decoration: none;
    color: #1d3557;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navbar ul li {
    margin-right: 1em;
    margin-top: 0.5em;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #5db4b7;
}

/* Hero Section */

.hero {
    background-image: url("../images/hero-bg.png");
    height: 75vh;
    background-size: cover;
}

.hero-info {
    position: absolute;
    left: 6em;
    top: 37vh;
}

.hero-title, .hero-btn {
    padding: 0.5em 1em;
    background-color: #5db4b7;
    margin-bottom: 1em;
}

.hero-btn {
    margin: 0 auto;
    text-decoration: none;
    border-radius: 10px;
    color: #1d3557;
    text-align: center;
    margin-left: auto;
}

.hero-btn:hover {
    background-color: #e0eb0e;
}


/* About Me */

.about-me {
    padding: 2em;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}


.section-heading {
    margin-bottom: 2em;
}

.section-info {
    margin-bottom: 2em;
}


/* Projects */

.projects {
    background-color: #5db4b7;
    padding: 2em;
}

.projects a {
    text-decoration: none;
    color: #1d3557;
}

.projects h2 {
    text-align: center;
    margin: 1em 0;
}

.my-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
} 

.card {
    width: 250px;
    margin: 1em 0.5em;
    text-align: center;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0,0,0,0.5);
    transition: 150ms linear;
    transform: scale(1)
}

.card:hover {
    transform: scale(1.1)
}

.card img {
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 5px 5px 0 0;
}

.card-bottom {
    padding: 0.5em;
}

.card-bottom h3 {
    margin: 0.5em 0;
}

.card-bottom p {
    font-weight: 300;
    margin-bottom: 0.5em;
}

/* Contact Me */

.contact-me {
    text-align: center;
}

.contact-me h2 {
    padding: 1em;
    margin: 0.5em 0;
}

.contact-me p {
    margin-bottom: 1em;
}

.contact-me p:last-child {
    margin-bottom: 3em;
}

/* Footer */

footer {
    padding: 2em;
    background-color: #1d3557;
    color: white;
    text-align: center;
}
/* Transcending Classes */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media Queries */